<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matejdro.pebbledialer"
    android:versionCode="8"
    android:versionName="2.0.6">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:name=".PebbleDialerApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="PebbleDialer" >
        <receiver android:name=".DataReceiver" >
            <intent-filter>
                <action android:name="com.getpebble.action.app.RECEIVE" />n
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.SettingsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.LicenseActivity">kaj</activity>

        <service android:name="DialerService" >
        </service>
        <service android:name="CallService" >
        </service>

        <activity android:name=".ui.HelpActivity" >
        </activity>
    </application>

</manifest>